<ion-header>
    <ion-toolbar>
      <ion-title text-center>
        Edukasi
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <img src="assets\img\Education.png" height="200em" align="center"/>
    <ion-card (click)="VideoPage()">
      <div class="card-title">Video</div>
    </ion-card>
  
    <ion-card (click)="JadwalPenyuluhPage()">
      <div class="card-title">Jadwal Penyuluh</div>
    </ion-card>
  
    <ion-card (click)="DiskusiPage()">
      <div class="card-title">Diskusi</div>
    </ion-card>
  
  </ion-content>
  