<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
      <ion-title text-center>
        Edukasi
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card (click)="VideoPage()">
      <div class="card-title">Video</div>
    </ion-card>
  
    <ion-card (click)="JadwalPenyuluhPage()">
      <div class="card-title">Jadwal Penyuluh</div>
    </ion-card>
  
    <ion-card (click)="DiskusiPage()">
      <div class="card-title">Diskusi</div>
    </ion-card>
  
  </ion-content>
  