// ion-card{
//     display: flex;
//     flex-direction: column;
//     width: 35% !important;
//     height: 30% !important;
//     margin: 35px !important;
//     text-align: center;
//   }

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      text-align: right;
      padding-right: 20%;
      top: 36%;
      font-size: 3.5em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }