<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="insight1"></ion-back-button>
        </ion-buttons>
      <ion-title>Olah Tanah</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card>
          <img src="assets/img/bajak-singkal.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Traktor Roda 2 bajak singkal
              <div class="buttons">
                <ion-button>Pinjam</ion-button>
              </div>
            </ion-card-title>
            
          </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="assets\img\roda4-singkal.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Traktor Roda 4 bajak singkal
              <div class="buttons">
                  <ion-button>Pinjam</ion-button>
                </div>
            </ion-card-title>
          </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="assets\img\kura-kura-singkal.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Traktor kura-kura bajak singkal
              <div class="buttons">
                  <ion-button>Pinjam</ion-button>
                </div>
            </ion-card-title>
          </ion-card-content>
      </ion-card>
  </ion-content>
  