<ion-header>
    <ion-toolbar>
      <ion-title>AlsintanOlahTanah</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card>
          <img src="assets/img/bajak-singkal.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Traktor Roda 2 bajak singkal
              <div class="buttons">
                <ion-button>Beli</ion-button>
                <ion-button color="secondary">Pinjam</ion-button>
              </div>
            </ion-card-title>
            
          </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="assets\img\roda4-singkal.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Traktor Roda 4 bajak singkal
              <div class="buttons">
                  <ion-button>Beli</ion-button>
                  <ion-button color="secondary">Pinjam</ion-button>
                </div>
            </ion-card-title>
          </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="assets\img\kura-kura-singkal.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Traktor kura-kura bajak singkal
              <div class="buttons">
                  <ion-button>Beli</ion-button>
                  <ion-button color="secondary">Pinjam</ion-button>
                </div>
            </ion-card-title>
          </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="img/nin-live.png"/>
          <ion-card-content>
            <ion-card-title>
              Traktor Roda 2 bajak piringan
              <div class="buttons">
                  <ion-button>Beli</ion-button>
                  <ion-button color="secondary">Pinjam</ion-button>
                </div>
            </ion-card-title>
          </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="img/nin-live.png"/>
          <ion-card-content>
            <ion-card-title>
              Traktor Roda 4 bajak piringan
              <div class="buttons">
                  <ion-button>Beli</ion-button>
                  <ion-button color="secondary">Pinjam</ion-button>
                </div>
            </ion-card-title>
          </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="img/nin-live.png"/>
          <ion-card-content>
            <ion-card-title>
              Traktor kura-kura bajak piringan
              <div class="buttons">
                  <ion-button>Beli</ion-button>
                  <ion-button color="secondary">Pinjam</ion-button>
                </div>
            </ion-card-title>
          </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="img/nin-live.png"/>
          <ion-card-content>
            <ion-card-title>
              Traktor Roda 2 garu sisir
              <div class="buttons">
                  <ion-button>Beli</ion-button>
                  <ion-button color="secondary">Pinjam</ion-button>
                </div>
            </ion-card-title>
          </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="img/nin-live.png"/>
          <ion-card-content>
            <ion-card-title>
              Traktor Roda 4 garu sisir
              <div class="buttons">
                  <ion-button>Beli</ion-button>
                  <ion-button color="secondary">Pinjam</ion-button>
                </div>
            </ion-card-title>
          </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="img/nin-live.png"/>
          <ion-card-content>
            <ion-card-title>
              Traktor kura-kura garu sisir
              <div class="buttons">
                  <ion-button>Beli</ion-button>
                  <ion-button color="secondary">Pinjam</ion-button>
                </div>
            </ion-card-title>
          </ion-card-content>
      </ion-card>
  </ion-content>
  