 <!-- <ion-header translucent>
    <ion-toolbar>
      <ion-title>Slides</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content fullscreen padding scroll-y="false">
    <ion-slides>

      <ion-slide>
        <br><br><br><br>
        <img src="./assets/img/Logo Tractorin.png"/>
        <br><br>
        <h2><b>Selamat Datang di</b> Tractorin</h2>
        <p>Tractorin adalah aplikasi untuk membantu kamu dalam hal yang behubungan dengan alat dan mesin pertanian</p>
          <!-- <br><br> -->
        <!-- <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle" size="large"></ion-icon> -->
      </ion-slide>

      <ion-slide>
          <br><br>
        <img src="./assets/img/Insight.png"/>
        <br>
        <h2>Analisis Kebutuhan Alsintan</h2>
        <p>Kami membantu analisis Alsintan yang tepat sesuai dengan kebutuhan kamu berdasarkan data dari pakar</p>
      </ion-slide>

      <ion-slide>
        <img src="./assets/img/Education.png"/>
        <br><br>
        <h2>Edukasi</h2>
        <p>Kami menyediakan fitur edukasi untuk kamu yang mau mengetahui soal pertanian yaitu video edukasi, jadwal penyuluhan dan diskusi seputar pertanian</p>
      </ion-slide>

      <ion-slide>
        <img src="./assets/img/Service.png"/>
        <h2>Servis</h2>
        <p>Kami juga menyediakan fitur pembelian dan penyewaan alsintan, cara perawatan alsintan, perbaikan alsintan, serta penjualan alsintan</p>
        <ion-button fill="clear" href="\login">Siap membajak<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>

    </ion-slides>
  </ion-content>
