<ion-header>
  <ion-toolbar>
    <ion-title>educationVideo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cards-bg">
    <ion-card>
  
      <div>
        <img src="./assets/img/traktor.jpg"/>
      </div>
  
      <ion-card-content>
        <ion-card-title>
          Cara menggunakan traktor
        </ion-card-title>
        <p>
          Video ini memperlihatkan cara kerja traktor
        </p>
      </ion-card-content>
  
      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='star-outline'></ion-icon>
            Favorite
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='play'></ion-icon>
            Play
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='share-alt'></ion-icon>
            Share
          </button>
        </ion-col>
      </ion-row>
  
    </ion-card>

    <ion-card>
  
        <div>
          <img src="./assets/img/traktorhijau.jpg"/>
        </div>
    
        <ion-card-content>
          <ion-card-title>
            Luas lahan yang dapat dibajak traktor
          </ion-card-title>
          <p>
            Video ini memperlihatkan seberapa besar luas lahan yang dapat dibajak menggunakan traktor
          </p>
        </ion-card-content>
    
        <ion-row no-padding>
          <ion-col>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='star-outline'></ion-icon>
              Favorite
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='play'></ion-icon>
              Play
            </button>
          </ion-col>
          <ion-col text-right>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='share-alt'></ion-icon>
              Share
            </button>
          </ion-col>
        </ion-row>
    
      </ion-card>

      <ion-card>
  
          <div>
            <img src="./assets/img/alsintan.jpg"/>
          </div>
      
          <ion-card-content>
            <ion-card-title>
              Efektivitas penggunaan traktor untuk lahan sawah
            </ion-card-title>
            <p>
              Video ini menunjukkan efektivitas penggunaan traktor di lahan sawah
            </p>
          </ion-card-content>
      
          <ion-row no-padding>
            <ion-col>
              <button ion-button clear small color="danger" icon-start>
                <ion-icon name='star-outline'></ion-icon>
                Favorite
              </button>
            </ion-col>
            <ion-col text-center>
              <button ion-button clear small color="danger" icon-start>
                <ion-icon name='play'></ion-icon>
                Play
              </button>
            </ion-col>
            <ion-col text-right>
              <button ion-button clear small color="danger" icon-start>
                <ion-icon name='share-alt'></ion-icon>
                Share
              </button>
            </ion-col>
          </ion-row>
      
        </ion-card>
  
  </ion-content>
