<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list>
      <br><br><br><br>

      <img src="./assets/img/Logo Tractorin.png"/>
      <br><br><br><br>

    <ion-item>
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Passsword"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
      <ion-button href="\tabs\tabs\home">Login</ion-button>
  </div>
</ion-content>
