<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list>
      <br><br><br><br>

      <img src="./assets/img/Logo Tractorin.png"/>
      <br><br><br><br>

      <ion-item>
          <ion-icon name="call"></ion-icon>&nbsp;&nbsp;<ion-input type="text" placeholder="Nomor Hp"></ion-input>
      </ion-item>
  
      <ion-item>
          <ion-icon name="key"></ion-icon>&nbsp;&nbsp;<ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>

  </ion-list>

  <div padding>
      <ion-button href="\tabs\tabs\home">Login</ion-button>
  </div>
  <h2>Belum punya akun?</h2>
  <ion-button fill="clear" href="\register">Daftar</ion-button>
</ion-content>
