img {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
    position: relative;
    left: 18%;
  }

  ion-button{
      width: 70%;
      position: relative;
      left: 15%;
      right:15%;
  }