<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tabs/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Riwayat Penjualan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button href="/jual">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    <ion-card>
        <div>
            <img src="./assets/img/jual3.jpg"/>
        </div>
        <ion-item>
          <h2>Traktor tangan</h2>
        </ion-item>
      
        <ion-card-content>
          <p>Rp.2.500.000,00 </p>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
              <ion-note>
              Sisa: 2
              </ion-note>
          </ion-col>
          <ion-col>
              <ion-note>
               Terjual: 0
              </ion-note>
          </ion-col>
        </ion-row>
      
      </ion-card>


</ion-content>
