<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="insight1"></ion-back-button>
      </ion-buttons>
    <ion-title>Analisis Panen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <img src="assets/img/mower.jpg"/>
      <ion-card-content>
        <ion-card-title>
          Pemotong padi (Mower)
          <div class="buttons">
            <ion-button>Beli</ion-button>
          </div>
        </ion-card-title>
        
      </ion-card-content>
  </ion-card>
  <ion-card>
      <img src="assets\img\striper.png"/>
      <ion-card-content>
        <ion-card-title>
          Pemanen Padi (Striper)
          <div class="buttons">
              <ion-button>Beli</ion-button>
            </div>
        </ion-card-title>
      </ion-card-content>
  </ion-card>
  <ion-card>
      <img src="assets\img\combine-yanmar.jpg"/>
      <ion-card-content>
        <ion-card-title>
          Combine harvester
          <div class="buttons">
              <ion-button>Beli</ion-button>
            </div>
        </ion-card-title>
      </ion-card-content>
  </ion-card>
</ion-content>
