<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="insight1"></ion-back-button>
      </ion-buttons>
      <ion-title>Analisis Tanam</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card>
          <img src="assets/img/diamond.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Transplanter 
              <div class="buttons">
                <ion-button>Pinjam</ion-button>
              </div>
            </ion-card-title>
            
          </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="assets\img\kubota.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Pompa Air kubota
              <div class="buttons">
                  <ion-button>Pinjam</ion-button>
                </div>
            </ion-card-title>
          </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="assets\img\yanmar.jpeg"/>
          <ion-card-content>
            <ion-card-title>
              Pompa Air yanmar
              <div class="buttons">
                  <ion-button>Pinjam</ion-button>
                </div>
            </ion-card-title>
          </ion-card-content>
      </ion-card>
  </ion-content>