<ion-header>
    <ion-toolbar>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>

        <ion-list>
            <ion-item>
                <ion-icon name="person">&nbsp;</ion-icon><ion-label>Hilmi Farhan Ramadhani</ion-label>
              </ion-item>
        
              <ion-item>
                  <ion-icon name="call">&nbsp;</ion-icon><ion-label>081277771231</ion-label>
              </ion-item>
        
              <ion-item>
                  <ion-icon name="home">&nbsp;</ion-icon><ion-label>Wisma Sekar Arum, Bogor, Jawa Barat</ion-label>
                </ion-item>
              
              <ion-item>
                  <ion-icon name="people">&nbsp;</ion-icon><ion-label>ID Gapoktan : 213102301230</ion-label>
                </ion-item>
        </ion-list>
  </ion-content>