<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Diskusi</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="cards-bg social-cards">
      <ion-searchbar (input)=getItems($event)></ion-searchbar>
    <ion-list>
      
        <ion-card  *ngFor="let item of items">
    
            <ion-item>
              <h2>{{item.question}}</h2>
            </ion-item>
          
            <ion-card-content>
              <p>{{ item.name }}</p>
            </ion-card-content>
          
            <ion-row>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name='thumbs-up'></ion-icon>
                  {{item.like}} suka
                </button>
              </ion-col>
              <ion-col>
                <button ion-button color="primary" clear small icon-start>
                  <ion-icon name='text'></ion-icon>
                  {{item.comments}} komentar
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <ion-note>
                  {{item.log}} jam lalu
                </ion-note>
              </ion-col>
            </ion-row>
          
          </ion-card>

      
    </ion-list>
  </ion-content>

 
    
    
    <style>
      .social-cards ion-col {
        padding: 0;
      }
    </style>
  
  